body {
    background-color: white;
}

.navbar {
    font-size: 40px;
    text-align: center;
    background-color:  rgb(10, 55, 255);
    display: block;
}

.navbar-text {
    font-size: 50px;
    text-align: center;
    background-color:  white;
}

.nav {
    display: flex;
    justify-content: left;
    list-style: none;
}


#weather-dashboard {
    font-size: 42px;
    background: rgba(10, 55, 255);
    color:  white;
    line-height: 50px;
}

.card {
    border: none;
}

.jumbotron {
    background-color: white;
}

.navbar-light {
    background-color: black;
}

.city-btn {
    background-color: #5e6572;
}

.card-body {
    background-color: #087E8B;
    font-size: 16pt;
    color: white;
    display: inline-block;
    border: solid #1b998b 2px;
    margin: 20px;
    padding: 40px;
    flex-direction: row;
    width: auto;
}

.city-weather {
    margin-bottom: 50px;
    padding-bottom: 50px;
}


.headline {
    font-size: 34px;
    border: none;
    float: left;
}

.lead {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.city-weather {
    font-size: 36pt;
    padding-left: 40px;
    line-height: 32px;
    padding-bottom: 60px;
}

#search {
    width: 290px;
    float: left;
}

#search-header {
    margin-right: 25px;
}

#li {
    padding: 20px;
}

h1 {
    padding-left: 20px;
}

.uv-index {
    margin-bottom: 25px;
}

#five-day {
    display: inline-block;
    height: 100px;
}

.card {
    position: relative;
    float: right;
}

.cardbody {
    border: none;
    display: inline-block;
    flex-direction: row;
}

.col-2 p {
    padding-left: 25px;
}

.uv-low {
    background-color: darkgreen;
}

.uv-moderate {
    background-color: yellow;
}

.uv-high {
    background-color: orange;
}

.uv-veryhigh {
    background-color: red;
}

.uv-extreme {
    background-color: violet;
}